body {
  background-color: lightcyan;
}

h1 {
  color:  blue;
  margin-left: 20px;
}

 .border-top{border-top:1px solid #607d8b!important;margin-top:10px}.border-bottom{border-bottom:1px solid #607d8b!important}